:root {
  --font-primary: 'Overpass';
  --gradient-bg: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  --color-gray: rgba(150, 159, 173, 1);
  --color-medgray: rgba(124, 135, 152, 1);
  --color-orange: rgba(252, 118, 20, 1);
  --color-darkblue: rgba(38, 46, 56, 1);

}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
